/* General */
body{
    font-size: 16px;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
a:visited{
    color: #25283d;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
hr {
    width: 90%;
    margin: 5% 0;
}
form, label{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    min-width: max-content;
    width: 90%;
}
label{
    width: 30ch;
}
button, select{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px 12px;
    background-color: white;
}
button{
    min-width: 16ch;
}
button:hover{
    color: #f7f7f7;
}

/* Nav */
nav{
    position: relative;
    background: #fff;
    width: 100%;
    height: 6vh;
    text-align: center;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}
#nav-content-wrapper{
    height: 100%;
    width: 90%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Main Wrapper */
main{
    height: 94vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sections{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}


/* Instructions */
#header{
    justify-self: flex-start;
}
#instructions{
    width: 50%;
    justify-content: center;
    background: #4fa3a8;
    color: #f7f7f7;
}
#instructions-intro{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2.5% auto;
    line-height: 1.25;
    max-width: 28em;
}
ul{
    font-size: 1.2rem;
}
li{
    margin: 15px 0;
}


/* Forms */
.main-column {
    width: 50%;
    background-color: #ecebe4;
    padding: 0 2%;
}
.main-content{
    width: 85%;
    align-items: center;
    justify-content: center;
    background: #ecebe4;
    margin: 0 auto;
    overflow-y: auto;
}
#add-strong{
    color: #4fa3a8;
}
#remove-strong{
    color: #bd2556;
}
#add-indicator{
    margin-bottom: 3%;
}
.add-indicator-form-ctrl {
    border-color: #4fa3a8;
}
.remove-indicator-form-ctrl {
    border-color: #bd2556;
}
#add-indicator-btn:hover{
    background: #4fa3a8;
}
#remove-indicator-btn:hover{
    background: #bd2556;
}


/* List of Jawns */
.active-header {
    margin-top: 0;
    text-align: center;
    align-self: center;
}
.active-list {
    width: 90%;
    max-height: 200px;
    margin: 0 auto;
    overflow-y: auto;
}
.empty-list-item {
    list-style-type: none;
}