main {
    flex-direction: column;
}
h1 {
    font-size: 2rem;
}
.sections {
    width: 96%;
    height: auto;
}
#instructions {
    width: 96%;
    height: 40%;
    justify-content: flex-start;
}
#instructions ul {
    max-width: 65%;
    font-size: 1rem;
    margin: 0 auto;
}
#instructions-intro {
    font-size: 1.1rem;
    margin: 1.25% auto;
    margin-top: 0;
}
.main-column {
    width: 96%;
    height: 60%;
}
.main-content {
    width: 75%;
}
hr {
    margin: 2% 0;
}
.active-header {
    margin-top: 2.5%;
}